a{
    text-decoration: none;
}
.part-two hr{
    opacity: 0.2;
    border: 0.7px solid #514949;
}

.about-two p, span{
    display: inline;
}

.pro{
    width: 26rem;
}

.special{
    display: inline;
}

.part-two{
    background-color: aliceblue;
}

.education ul{
    list-style: none;
    font-size: 17px;
}

.skill img{
    width: 85px;
    height: 85px;
}

i{
    color: rgb(13, 110, 253);
}
/* span{
    text-align: end !important;
} */